@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000317}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000320}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003101}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Ruby193\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003114}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'CarlsbergSansBlack';
  src: url("../fonts/carlsberg_sans_black-webfont.eot");
  src: url("../fonts/carlsberg_sans_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/carlsberg_sans_black-webfont.woff") format("woff"), url("../fonts/carlsberg_sans_black-webfont.ttf") format("truetype"), url("../fonts/carlsberg_sans_black-webfont.svg#CarlsbergSansBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CarlsbergSansBold';
  src: url("../fonts/carlsberg_sans_bold-webfont.eot");
  src: url("../fonts/carlsberg_sans_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/carlsberg_sans_bold-webfont.woff") format("woff"), url("../fonts/carlsberg_sans_bold-webfont.ttf") format("truetype"), url("../fonts/carlsberg_sans_bold-webfont.svg#CarlsbergSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CarlsbergSansLight';
  src: url("../fonts/carlsberg_sans_light-webfont.eot");
  src: url("../fonts/carlsberg_sans_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/carlsberg_sans_light-webfont.woff") format("woff"), url("../fonts/carlsberg_sans_light-webfont.ttf") format("truetype"), url("../fonts/carlsberg_sans_light-webfont.svg#CarlsbergSansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\000032}}
table {
  border-spacing: 0;
  border-collapse: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\000037}}
.ie6 table, .ie7 table {
  border-collapse: collapse;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\000039}}
.grey-grad, th, div.paging span.current {
  background: #949494;
  /* Old browsers */
  background: -moz-linear-gradient(top, #949494 0%, #777777 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #949494), color-stop(100%, #777777));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #949494 0%, #777777 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #949494 0%, #777777 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #949494 0%, #777777 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #949494 0%, #777777 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF949494', endColorstr='#FF777777',GradientType=0);
  -moz-box-shadow: inset 0 -1px 0 #929292;
  -webkit-box-shadow: inset 0 -1px 0 #929292;
  box-shadow: inset 0 -1px 0 #929292;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000313}}
th {
  white-space: nowrap;
  height: 38px;
  border: 1px solid #6F6F6F;
  border-left: 0;
  padding: 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000321}}
th a {
  color: white;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000325}}
th a:hover {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000330}}
th:first-child, th.first {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  border-left: 1px solid #6F6F6F;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000334}}
th:last-child, th.last {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000337}}
th:only-child {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-left: 1px solid #6F6F6F;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000343}}
.sortable th a {
  background: url("../img/layout/sort.png") no-repeat right 6px;
  padding-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000347}}
.sortable th a.asc {
  background-position: right -74px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000350}}
.sortable th a.desc {
  background-position: right -36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000353}}
.sortable th a:hover {
  background-position: right -114px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000360}}
td {
  height: 38px;
  border: 1px solid #666666;
  border-top: 0;
  border-left: 0;
  padding: 15px 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000367}}
td.first, td:first-child {
  border-left: 1px solid #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000370}}
tr:nth-child(even) td {
  background-color: #fbfbfb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000371}}
td.actions {
  color: #88bf45;
  padding: 0 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_tables\.scss}line{font-family:\0000374}}
td.actions a {
  margin: 0 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\000033}}
.btn-base, .btn-details, button, a.submit, div.paging span {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #666666;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 white;
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #f0f0f0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f0f0f0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefefe 0%, #f0f0f0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefefe 0%, #f0f0f0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefefe 0%, #f0f0f0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fefefe 0%, #f0f0f0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFEFEFE', endColorstr='#FFF0F0F0',GradientType=0);
  text-transform: uppercase;
  -moz-box-shadow: inset 0 -1px 0 white;
  -webkit-box-shadow: inset 0 -1px 0 white;
  box-shadow: inset 0 -1px 0 white;
  border: 1px solid #d7d7d7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000315}}
.btn-details, button, a.submit {
  font: 14px "CarlsbergSansLight", Arial, Helvetica, Freesans, sans-serif;
  font-size: 12px;
  width: auto;
  line-height: 28px;
  height: 28px;
  float: left;
  display: inline;
  clear: both;
  padding: 0 25px;
  margin-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000326}}
.btn-details span, button span, a.submit span {
  color: #bababa;
  padding-left: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000339}}
label {
  color: #bababa;
  height: 28px;
  line-height: 28px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000345}}
.text-input, div.text input, div.text select, div.password input, div.password select, div.select input, div.select select, div.submit input, div.submit select, div.textarea textarea, div.dropdown .selected {
  color: #666666;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  border: 1px solid #e7e7e7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 228px;
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000356}}
div.text, div.password, div.select, div.submit {
  padding: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000358}}
div.text label, div.password label, div.select label, div.submit label {
  width: 100px;
  padding-right: 10px;
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000366}}
div.text .ext, div.password .ext, div.select .ext, div.submit .ext {
  width: 428px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000370}}
div.input {
  clear: left;
  height: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000375}}
div.textarea {
  padding: 5px 0;
  overflow: hidden;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000379}}
div.textarea label {
  width: 100px;
  padding-right: 10px;
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000384}}
div.textarea textarea {
  height: 150px;
  width: 228px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000388}}
div.textarea textarea.ext {
  width: 528px;
  min-height: 198px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\0000395}}
div.file label {
  width: 100px;
  padding-right: 10px;
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003100}}
div.file input {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003102}}
div.submit {
  padding-left: 110px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003103}}
.no-label, .checkbox input {
  margin-left: 110px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003104}}
div.checkbox {
  padding: 5px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003107}}
.form-actions {
  padding: 10px 5px 10px 110px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003110}}
.form-actions a, .form-actions input {
  float: left;
  display: inline;
  line-height: 28px;
  height: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003115}}
.form-actions div.submit {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003122}}
.error-text, div.error-message {
  color: #a33232;
  font-weight: bold;
  text-shadow: -1px -1px 0 #e0e0e0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003127}}
div.error-message {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003136}}
#UserContactForm .text input, #UserContactForm textarea {
  width: 347px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003143}}
.large-input, .main .text input, .main .password input, .main .select select, .main #login-form .text input, .main #login-form .password input {
  height: 38px;
  line-height: 38px;
  color: white;
  width: 358px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #76ae3f;
  background: rgba(7, 69, 24, 0.2);
  padding: 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003153}}
.large-submit, .main #login-form a.submit, .main a.submit {
  border: 1px solid #76ae3f;
  color: #76ae3f;
  text-shadow: none;
  background: #286424;
  height: 38px;
  line-height: 38px;
  margin: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  float: right;
  display: inline;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003165}}
.large-submit span, .main #login-form a.submit span, .main a.submit span {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003172}}
.main #login-form .text input, .main #login-form .password input {
  height: 68px;
  line-height: 68px;
  font-size: 26px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003178}}
.main #login-form a.submit {
  width: 58px;
  height: 58px;
  line-height: 58px;
  font-size: 40px;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003185}}
.main #login-form a.submit span {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003190}}
.main a.submit:hover {
  background: #074518;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003194}}
.main div.form-actions {
  padding: 10px 0 10px 0;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003198}}
.main .privacy {
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003201}}
.main div.checkbox {
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003203}}
.main div.checkbox input {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003205}}
.main label {
  float: left;
  display: inline;
  color: #76ae3f;
  font-size: 13px;
  line-height: 1.2em;
  width: 200px;
  margin-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003213}}
.main .error-text, .main div.error-message, .main div.error-message, .main div.message {
  color: white;
  text-shadow: -1px -1px 0 #074518;
  font-weight: bold;
  font-size: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003223}}
div.dropdown {
  position: relative;
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003226}}
div.dropdown .selected {
  background: url("../img/layout/select-bg.png") no-repeat right center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003229}}
div.dropdown .selected:hover {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003234}}
div.dropdown.open .options {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003238}}
div.dropdown .options {
  position: absolute;
  top: 30px;
  left: 4px;
  z-index: 100;
  background: white;
  border: 1px solid #e7e7e7;
  width: 228px;
  display: none;
  -moz-box-shadow: 3px 3px 4px #333333;
  -webkit-box-shadow: 3px 3px 4px #333333;
  box-shadow: 3px 3px 4px #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003248}}
div.dropdown .options li {
  list-style: none;
  padding: 2px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003251}}
div.dropdown .options li:hover {
  background: #88BF45;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_forms\.scss}line{font-family:\00003255}}
div.dropdown .options li span.value {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000336}}
body {
  font: 14px Arial, Helvetica, Freesans, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000337}}
body, select, input, textarea, p, label {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000338}}
h1 {
  font: 14px "CarlsbergSansBold", Arial, Helvetica, Freesans, sans-serif;
  font-size: 28px;
  color: #006600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000339}}
h2 {
  font: 14px "CarlsbergSansBold", Arial, Helvetica, Freesans, sans-serif;
  font-size: 20px;
  color: #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000340}}
h3 {
  font: 14px "CarlsbergSansBold", Arial, Helvetica, Freesans, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000341}}
.admin h1 {
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000342}}
h4 {
  font-size: 14px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000343}}
h5 {
  font-size: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000344}}
h5, h6 {
  font-weight: bold;
  padding: .4em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000345}}
li {
  padding-bottom: .2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000346}}
ul li {
  list-style: disc inside;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000347}}
.white-shadow, th, #main-header li a {
  color: white;
  text-shadow: 1px 1px 0 #333;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000352}}
a {
  color: #88bf45;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000353}}
.alt-link, a.back, div.product-details #content-inner .col-2 section.downloads li a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000355}}
.alt-link:hover, a.back:hover, div.product-details #content-inner .col-2 section.downloads li a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000360}}
a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000361}}
p {
  padding-bottom: .6em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000362}}
.paging p {
  color: #bababa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000363}}
.sub-heading, div.product-details #content-inner .col-2 h2, div.custom #content-inner div.options h2 {
  font: 14px "CarlsbergSansLight", Arial, Helvetica, Freesans, sans-serif;
  font-size: 18px;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000367}}
div.paging {
  padding: 10px 0;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000370}}
div.paging p {
  padding-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000373}}
div.paging span {
  float: left;
  display: inline;
  padding: 3px 5px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000378}}
div.paging span a {
  color: #666666;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000383}}
div.paging span.disabled {
  color: #bababa;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000386}}
div.paging span.current {
  color: white;
  text-shadow: -1px -1px 0 #777777;
  border-color: #777777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\0000396}}
#flashMessage {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 400px;
  padding: 10px;
  margin-left: -210px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 5px 5px 5px #929292;
  -webkit-box-shadow: 5px 5px 5px #929292;
  box-shadow: 5px 5px 5px #929292;
  background: #a33232;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a33232 0%, #f76060 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a33232), color-stop(100%, #f76060));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a33232 0%, #f76060 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a33232 0%, #f76060 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a33232 0%, #f76060 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a33232 0%, #f76060 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA33232', endColorstr='#FFF76060',GradientType=0);
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #a33232;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\00003115}}
.cake-sql-log, div.cake-debug-output {
  padding: 20px 10px 10px 210px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/_base\.scss}line{font-family:\00003116}}
div.cake-debug-output {
  background: yellow;
  border-top: #9acd32 2px solid;
}

/* Core stuff
-------------------------------------------------------------------------------*/
/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\000038}}
::-moz-selection {
  background: #fcd700;
  color: white;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\000039}}
::selection {
  background: #fcd700;
  color: white;
  text-shadow: none;
}

/*	j.mp/webkit-tap-highlight-color */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000312}}
a:link {
  -webkit-tap-highlight-color: #fcd700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000314}}
ins {
  background-color: #fcd700;
  color: black;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000315}}
mark {
  background-color: #fcd700;
  color: black;
  font-style: italic;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000320}}
.col {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000321}}
#main-header {
  float: left;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000322}}
#container {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000323}}
#content {
  width: 100%;
  padding-left: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000326}}
#main-header {
  width: 200px;
  background: url(../img/layout/logo.jpg) no-repeat 0 0 #074518;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000331}}
#main-header ul {
  background: url(../img/layout/main-nav-bg-top.jpg) no-repeat 0 0 #074518;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000335}}
#main-header li {
  list-style: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000338}}
#main-header li a {
  font: 14px "CarlsbergSansLight", Arial, Helvetica, Freesans, sans-serif;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #346541;
  border-bottom: 1px solid #043011;
  padding: 0 20px;
  display: block;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000348}}
#main-header li a:hover {
  background: #286424;
  /* Old browsers */
  background: -moz-linear-gradient(left, #286424 0%, #074518 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #286424), color-stop(100%, #074518));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #286424 0%, #074518 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #286424 0%, #074518 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #286424 0%, #074518 100%);
  /* IE10+ */
  background: linear-gradient(to right, #286424 0%, #074518 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF286424', endColorstr='#FF074518',GradientType=1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000354}}
#main-header .admin-home span, #main-header .my-account span, #main-header .logout span, #main-header .back span {
  display: block;
  background: url(../img/layout/menu.png) no-repeat 0 10px;
  padding-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000360}}
#main-header .my-account span {
  background-position: 0 -50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000361}}
#main-header .logout span {
  background-position: 0 -108px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000362}}
#main-header .back span {
  background-position: 0 -146px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000363}}
#main-header h1 {
  height: 140px;
  text-indent: -9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000367}}
#main-header .current-user {
  padding: 20px 20px 0 20px;
  height: 64px;
  border-bottom: 1px solid #043011;
  color: white;
  font-size: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000375}}
#main-nav {
  background: url(../img/layout/main-nav-bg.png) repeat-y 0 0 #074518;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000379}}
#admin-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000384}}
#content-inner {
  width: 750px;
  padding: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000387}}
#content-inner.split {
  padding: 0 30px 0 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000389}}
#content-inner.split .col-1 {
  width: 459px;
  padding: 30px 30px 30px 0;
  border-right: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000394}}
#content-inner.split .col-2 {
  padding: 30px 0 30px 30px;
  width: 230px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\0000399}}
#content-inner section {
  clear: both;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003104}}
#breadcrumbs {
  width: 100%;
  overflow: hidden;
  background: url(../img/layout/bc-bg-grad.png) repeat-x 0 0;
  border-bottom: 1px solid #d7d7d7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003109}}
#breadcrumbs li {
  padding: 0;
  height: 49px;
  float: left;
  display: inline;
  background: url(../img/layout/bc-bg-grad.png) repeat-x 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003114}}
#breadcrumbs li span {
  background: url(../img/layout/bc-bg.png) no-repeat 0 0;
  float: left;
  display: inline;
  padding: 0 10px 0 26px;
  line-height: 49px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003120}}
#breadcrumbs li a {
  float: left;
  display: inline;
  height: 49px;
  color: #bababa;
  text-decoration: none;
  text-shadow: 1px 1px 0 white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003127}}
#breadcrumbs li a:hover {
  color: #666666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003131}}
#breadcrumbs li.home span {
  background: url(../img/layout/bc-home-bg.png) no-repeat 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003133}}
#breadcrumbs li.home span a {
  background: url(../img/layout/home-icon.png) no-repeat 0 17px;
  text-indent: -9999px;
  width: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003143}}
.page-header section.manual h1 {
  padding-bottom: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003144}}
.page-header section.manual p {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003145}}
.page-header section.manual .col-1 {
  background: url("../img/layout/manual-cover.png") no-repeat;
  width: 400px;
  padding-left: 170px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003150}}
.page-header section.manual .col-2 {
  padding-top: 48px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003154}}
a.download-manual {
  display: block;
  background: url("../img/layout/download-pdf.png") no-repeat 0 0;
  text-decoration: none;
  font: 14px "CarlsbergSansLight", Arial, Helvetica, Freesans, sans-serif;
  font-size: 12px;
  padding: 10px 0 0 68px;
  text-transform: uppercase;
  color: #666666;
  width: 100px;
  height: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003165}}
a.download-manual span {
  font-size: 11px;
  color: #bababa;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003173}}
.grey-grad-header, .listing header, .product-info th {
  border: 1px solid #e7e7e7;
  -moz-border-radius-top-left: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-top-right: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -moz-box-shadow: inset 0 -1px 0 white;
  -webkit-box-shadow: inset 0 -1px 0 white;
  box-shadow: inset 0 -1px 0 white;
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f2f3f3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f2f3f3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #f2f3f3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #f2f3f3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #f2f3f3 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f2f3f3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F3F3',GradientType=0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003181}}
.listing header {
  overflow: hidden;
  height: 78px;
  padding: 0 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003186}}
.listing header h2 {
  line-height: 78px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003193}}
.listing-box, .listing-item-box, .listings li, .branded-products li, .unbranded-types li {
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003198}}
.listing-item-box, .listings li, .branded-products li, .unbranded-types li {
  float: left;
  display: inline;
  width: 186px;
  list-style: none;
  color: #006600;
  font-weight: bold;
  padding: 18px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003206}}
.listing-item-box .prod-img, .listings li .prod-img, .branded-products li .prod-img, .unbranded-types li .prod-img, .listing-item-box h3, .listings li h3, .branded-products li h3, .unbranded-types li h3, .listing-item-box p, .listings li p, .branded-products li p, .unbranded-types li p {
  width: 150px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003210}}
.listing-item-box h3, .listings li h3, .branded-products li h3, .unbranded-types li h3 {
  padding: 18px 0;
  height: 3.8em;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003211}}
.listing-item-box p, .listings li p, .branded-products li p, .unbranded-types li p {
  font-size: 12px;
  color: #999999;
  font-weight: normal;
  padding-bottom: 18px;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003212}}
.listing-item-box a.btn-details, .listings li a.btn-details, .branded-products li a.btn-details, .unbranded-types li a.btn-details {
  padding: 0;
  display: inherit;
  float: none;
  margin: 0 auto;
  width: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003218}}
.listing-item-box .prod-img, .listings li .prod-img, .branded-products li .prod-img, .unbranded-types li .prod-img {
  padding-bottom: 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003222}}
.listings, .branded-products, .unbranded-types {
  border-left: 1px solid #e7e7e7;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003238}}
.brands {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003240}}
.brands li {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003242}}
.brands li .logo, .brands li h3, .brands li .details {
  float: left;
  display: inline;
  height: 50px;
  border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003248}}
.brands li .logo {
  width: 94px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003249}}
.brands li .details {
  background: url("../img/layout/brand-details.png") no-repeat 0 0;
  text-indent: -9999px;
  width: 59px;
  border-right: 1px solid #e7e7e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003254}}
.brands li .details:hover {
  background-position: 0 -51px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003258}}
.brands li h3 {
  font: 14px "CarlsbergSansLight", Arial, Helvetica, Freesans, sans-serif;
  line-height: 50px;
  width: 553px;
  padding: 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003269}}
.page-header {
  background: #fbfbfb;
  border-bottom: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003272}}
.page-header .inner {
  padding: 30px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003275}}
.page-header .inner .col-1 {
  width: 510px;
  padding: 0 20px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003279}}
.page-header .inner .prod-img {
  border: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003283}}
.page-header dl {
  padding-top: 20px;
  font: 14px "CarlsbergSansLight", Arial, Helvetica, Freesans, sans-serif;
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003287}}
.page-header dl dt {
  float: left;
  display: inline;
  padding-right: .6em;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003288}}
.page-header dl dd {
  color: #006600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003292}}
div.product-details .page-header h1 {
  padding-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003293}}
div.product-details #content-inner {
  overflow: hidden;
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003296}}
div.product-details #content-inner .col-1 {
  width: 500px;
  padding: 30px 30px 30px 0;
  border-right: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003300}}
div.product-details #content-inner .col-1 a.submit {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003302}}
div.product-details #content-inner .col-2 {
  width: 189px;
  padding: 0 0 30px 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003305}}
div.product-details #content-inner .col-2 a.btn-details {
  width: auto;
  margin: 0;
  padding: 0;
  display: inherit;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003311}}
div.product-details #content-inner .col-2 h2 {
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003315}}
div.product-details #content-inner .col-2 p {
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003316}}
div.product-details #content-inner .col-2 section {
  padding: 30px 0;
  border-bottom: 1px solid #e0e0e0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003319}}
div.product-details #content-inner .col-2 section:last-child {
  border-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003321}}
div.product-details #content-inner .col-2 section.price h2 {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003322}}
div.product-details #content-inner .col-2 section.price p {
  font: 14px "CarlsbergSansBold", Arial, Helvetica, Freesans, sans-serif;
  font-size: 26px;
  color: #006600;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003325}}
div.product-details #content-inner .col-2 section.downloads ul {
  padding-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003326}}
div.product-details #content-inner .col-2 section.downloads li {
  list-style: none;
  padding-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003334}}
div.product-details #content-inner div.options {
  width: 330px;
  padding-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003336}}
div.product-details #content-inner div.options label {
  width: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003339}}
div.product-details #content-inner label {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003340}}
div.product-details #content-inner p {
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003342}}
div.product-details #content-inner p.options {
  width: 130px;
  padding: 5px 0 30px 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003350}}
.product-info th {
  text-shadow: none;
  color: #666666;
  font-weight: normal;
  font: 14px "CarlsbergSansLight", Arial, Helvetica, Freesans, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003357}}
.product-info td {
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003361}}
.product-info td.last, .product-info td:last-child {
  border-right: 1px solid #e7e7e7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003371}}
div.custom #content-inner .checkbox label {
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003372}}
div.custom #content-inner div.options {
  width: auto;
  padding-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003374}}
div.custom #content-inner div.options h2 {
  padding-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003375}}
div.custom #content-inner div.options label {
  width: auto;
  min-width: 180px;
  max-width: 340px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003376}}
div.custom #content-inner div.options .text input {
  min-width: 150px;
  width: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003378}}
div.custom #content-inner div.options .checkbox input {
  margin-left: 190px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003380}}
div.custom #content-inner div.options select {
  min-width: 150px;
  width: 150px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003384}}
div.custom #content-inner .col-2 .checkbox input {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003385}}
div.custom #content-inner .col-2 div.submit {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003392}}
.main {
  background: url("../img/layout/main-bg.jpg") no-repeat center top #074518;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003394}}
.main h1 {
  font: 14px "CarlsbergSansBlack", Arial, Helvetica, Freesans, sans-serif;
  font-size: 62px;
  color: white;
  text-transform: uppercase;
  line-height: 1em;
  padding-bottom: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003402}}
.main #container {
  width: 940px;
  margin: 0 auto;
  position: relative;
  min-height: 640px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003408}}
.main #content {
  width: 400px;
  padding: 94px 0 100px 480px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003412}}
.main #group-logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 130px;
  height: 73px;
  text-indent: -9999px;
  background: url("../img/layout/group-logo.png") no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003421}}
.main #main-footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003428}}
.main #main-footer p {
  color: #76ae3f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003429}}
.main #main-footer a {
  color: white;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003433}}
.main #main-footer a:hover {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003435}}
.main div.confirm {
  padding: 20px;
  border: 1px solid #76ae3f;
  background: rgba(7, 69, 24, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003439}}
.main div.confirm h2 {
  font: 14px "CarlsbergSansLight", Arial, Helvetica, Freesans, sans-serif;
  font-size: 26px;
  color: white;
  text-transform: uppercase;
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/carlsbergglass\/webroot\/css\/sass\/style\.scss}line{font-family:\00003446}}
.main div.confirm p {
  color: white;
}
