@import "compass/reset";
@import "fonts";
@import "mixins";
@import "compass/css3/inline-block";

// VARIABLES

$grey-para : #858585;
$dark-grey : #333;
$grey-text : #999999;
$bc-hover-grey : #666666;
$mid-grey : #BABABA;
$bc-border-grey : #D7D7D7;
$border-grey:#E7E7E7;
$input-brdr-grey: $border-grey;
$prod-header-bg : #FBFBFB; //light grey
$alt-cell:$prod-header-bg;
$prod-header-bdr : #E0E0E0; //mid grey
$mid-green-text : #006600;
$dark-green : #074518;
$dark-green-body-bg : #002715;
$dark-green-hl : #346541;
$dark-green-sh : #043011;
$menu-green-hl : #286424;
$link-green: #88BF45;
$tr-hl-grey: #F7F7F7;
$error-red: #A33232;
$large-input-brdr-green: #76AE3F;
$large-form-text: $large-input-brdr-green;
$green-btn-bg : #24642B;
// IMPORTS
@import "tables";
@import "forms";


// FONTS

body {font: $body-font;}
body, select, input, textarea, p, label  {color: $dark-grey;}
h1 { font: $title-font-bold; font-size: 28px; color:$mid-green-text;}
h2 { font: $title-font-bold; font-size: 20px; color:$bc-hover-grey; }
h3 { font: $title-font-bold; }
.admin h1 { color: $dark-grey; }
h4 { font-size: 14px; font-weight: bold;}
h5 { font-size:13px;}
h5, h6 { font-weight: bold; padding: .4em 0;}
li { padding-bottom: .2em;}
ul li { list-style: none;}
.white-shadow {
  color:white;
  text-shadow: 1px 1px 0 #333;
  font-weight: bold;
}
a { color:$link-green; }
.alt-link {
  text-decoration: none;
  &:hover { text-decoration: underline;}
}
a.back {
  @extend .alt-link;
}
a:hover {text-decoration: none;}
p { padding-bottom:.6em; line-height: 1.4em; color:$grey-para; }
.paging p { color:$mid-grey;}
.sub-heading { font: $title-font-light; font-size: 18px; color:$dark-grey;}
#support-phone {  font: $title-font-bold; color:black; font-size: 22px;}
.em { font-weight: bold;}

//PAGING

div.paging {
  padding:10px 0;
  margin-top:10px;
  p {
    padding-bottom: 10px;
  }
  span {
    @include float-left;
    padding:3px 5px;
    @extend .btn-base;
    margin-right:10px;
    a {
      color:$bc-hover-grey;
      text-decoration: none;
    }
  }
  span.disabled {
    color: $mid-grey;
  }
  span.current {
    color: white;
    @extend .grey-grad;
    text-shadow: -1px -1px 0 #777777;
    border-color: #777777;
  }
}

//FLASH MESSAGES

#flashMessage {
  position: absolute;
  top:60px;
  left:50%;
  width:400px;
  padding:10px;
  margin-left:-210px;
  text-align: center;
  @include rounded(3px);
  @include box-shadow(5px 5px 5px #929292);
  @include linear-grad($error-red, #F76060);
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 $error-red;
}


// DEBUG

.cake-sql-log, div.cake-debug-output { padding: 20px 10px 10px 210px;}
div.cake-debug-output { background: yellow; border-top:#9acd32 2px solid}