//BUTTONS

.btn-base {
  @include rounded(3px);
  color:$bc-hover-grey;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 white;
  @include linear-grad(#FEFEFE, #F0F0F0);
  text-transform: uppercase;
  @include box-shadow(inset 0 -1px 0 white);
  border:1px solid $bc-border-grey;
}
.btn-details, a.submit {
  font: $title-font-light;
  font-size: 12px;
  width:auto;
  line-height:28px;
  height:28px;
  @include float-left;
  clear:both;
  padding:0 25px;
  margin-right:30px;
  @extend .btn-base;
  span {
    color:$mid-grey;
    padding-left: 4px;
  }
  &:active, &:hover {
    @include box-shadow(0 0 0 #999);
    @include linear-grad(#F0F0F0, #FEFEFE);
  }
}

// FORM ELEMENTS

$label-width: 100px;
$label-padding : 10px;
$input-width: 228px;
$input-width-extended: 428px;

label {
  color:$mid-grey;
  height:28px;
  line-height: 28px;

}
.text-input {
  color: $bc-hover-grey;
  height:28px;
  line-height: 28px;
  padding:0 5px;
  border:1px solid $input-brdr-grey;
  @include rounded(3px);
  width:$input-width;
  @include float-left;
}

div.text, div.password, div.select, div.submit, div.number {
  padding:5px 0;
  label {
    width: $label-width;
    padding-right: $label-padding;
    @include float-left;
  }
  input, select {
    @extend .text-input;
  }
  .ext {
    width: $input-width-extended;
  }
}
div.input {
  //overflow: hidden;
  clear:left;
  height: 30px;
}
div.textarea {
  padding:5px 0;
  overflow:hidden;
  height:auto;
  label {
    width: $label-width;
    padding-right: $label-padding;
    line-height: 1.3em;
    @include float-left;
  }
  textarea {
    @extend .text-input;
    line-height: 1.3em;
    height:150px;
    width: $input-width;
    &.ext {
      width: 528px;
      min-height: 198px;
    }
  }
}
div.file {
  label {
    width: $label-width;
    padding-right: $label-padding;
    @include float-left;
  }
  input { @include float-left;}
}
div.submit { padding-left: $label-width + $label-padding;}
.no-label, .checkbox input { margin-left:110px;}
div.checkbox {
  padding:5px 0;
}
.form-actions {
  padding: 10px 5px 10px 110px;
  overflow:hidden;
  a, input {
    @include float-left;
    line-height:28px;
    height:28px;
    position: relative;
    bottom:4px;
  }
  a.submit { bottom:0;}
  div.submit {
    padding-left:0;
  }
}
button {
  @extend .btn-details;
}
.error-text {
  color: $error-red;
  font-weight: bold;
  text-shadow: -1px -1px 0 $prod-header-bdr;
}
div.error-message {
  height:30px;
  line-height: 30px;
  padding:0 10px;
  @include float-left;
  @extend .error-text;
}
//CONTACT FORM
#UserContactForm {
  .text input, textarea {
    width: 337px;
  }
}

//JUMP TO FILTER DROP DOWNS
div.filter {
  display:none; //hide if no JS
  float:right;
  padding-top:20px;
  label {
    font-size: 12px;
    color:$bc-hover-grey;
    width:auto;
  }
}
.js-on div.filter { display: block;}

// LARGE FORMAT (GREEN BG) FORMS

$large-input-height : 38px;
.large-input {
  height:$large-input-height;
  line-height: $large-input-height;
  color:white;
  width:208px;
  @include rounded(0px);
  border:1px solid $large-input-brdr-green;
  background-color: rgba($dark-green, 0.2);
  padding:0 20px;
  display: block;
  float:none;
}
.large-submit {
  border:1px solid $large-input-brdr-green;
  color:white;
  text-shadow: none;
  background:$green-btn-bg ;
  height:$large-input-height;
  line-height: $large-input-height;
  margin:0;
  @include box-shadow(none);
  @include rounded(0px);
  @include float-right;
  width:auto;
  span { display: none;}
}
.large-select {
  @extend .large-input;
}
.main {
  div.input {
    @include float-left;
    clear: none;
    padding: 0 20px 20px 0;
    height:$large-input-height;
  }
  div.error {
    height:$large-input-height + 20px;
  }
  div.alt {
    padding: 0 0 20px 0;
  }
  .text input, .password input, .select select {
    @extend .large-input;
  }
  #login-form {
    .text {
      padding:0 20px 0 0;
    }
    div.password {padding: 0;}
    .text,.password {
      clear:none;
      @include float-left;
       input {
        @extend .large-input;
        height:38px;
        line-height: 38px;
        font-size: 16px;
      }
    }
    a.submit {
      @extend .large-submit;
      width:158px;
      height:38px;
      line-height: 38px;
      font-size: 20px;
      padding:0;
      span { display: none;}
    }
    .form-options {
      color:white;
      @include float-left;
      padding-top: 15px;
      a {
        color:white; text-decoration: none;
        bottom:auto;
        float:none;
        &:hover { text-decoration: underline; }
      }
    }
  }
  a.submit {
    @extend .large-submit;
    &:hover {
      background:$dark-green;
    }
  }
  div.form-actions {
    padding: 10px 0 10px 0;
    clear:both;
  }
  .register {
    div.form-actions {
      padding: 0;
      div.submit {
        padding:0;
      }
    }
  }
  .privacy {
    @include float-left;
    padding-top: 20px;
    label { color:white; width:300px;}
    .checkbox { padding:0;}
  }
  div.checkbox {
    @include float-left;
    input { margin:0; }
  }
  div.submit {
    @include float-right;
    padding-top:20px;
  }
  label {
    @include float-left;
    color:$large-form-text;
    font-size: 13px;
    line-height: 1.2em;
    width:200px;
    margin-left:10px;
  }
  .error-text, div.error-message, div.message {
    color:white;
    text-shadow: -1px -1px 0 $dark-green;
    font-weight: bold;
    font-size: 16px;
  }

}

//JS pretty selectors
div.dropdown {
  position:relative;
  @include float-left;
  .selected {
    @extend .text-input;
    background:url('../img/layout/select-bg.png') no-repeat right center white;
    &:hover {
      cursor: pointer;
    }
  }
  &.open {
    .options {
      display: block;
    }
  }
  .options {
    position: absolute;
    top:30px;
    left:4px;
    z-index: 100;
    background: white;
    border:1px solid $input-brdr-grey;
    width:228px;
    display:none;
    @include box-shadow(3px 3px 4px $dark-grey);
    max-height: 110px;
    overflow-y: scroll;
    li {
      list-style: none;
      padding:2px 5px;
      &:hover {
        background: #88BF45;
        cursor: pointer;
      }
      span.value {
        display: none;
      }
    }
  }
}
//  LARGE FORMAT SELECT
.main {
  div.dropdown {
    position:relative;
    @include float-left;
    .selected {
      background:url('../img/layout/select-bg-green.png') no-repeat right center rgba($dark-green, 0.2);
      @extend .large-input;
    }
    .options {
      top:$large-input-height;
      left:4px;
      background: #0A9243;
      border:1px solid $large-input-brdr-green;
      width:228px;
      max-height: 110px;
      li {
        list-style: none;
        padding:2px 5px;
        color:white;
        &:hover {
          background: $dark-green-body-bg;
          cursor: pointer;
        }
        span.value {
          display: none;
        }
      }
    }
  }
}