// TABLES
table {
  border-spacing: 0;
  border-collapse: inherit;
}
.admin table { width: 100%;}
.ie6, .ie7 {
  table { border-collapse: collapse; }
}
.grey-grad {
  @include linear-grad(#949494, #777777);
  @include box-shadow(inset 0 -1px 0 #929292);
}
th {
  white-space: nowrap;
  @extend .white-shadow;
  height:38px;
  border: 1px solid #6F6F6F;
  border-left:0;
  padding:0 20px;
  @extend .grey-grad;
  a {
    color:white;
    text-decoration: none;
  }
  a:hover {
    color:white;
  }
}

th:first-child, th.first {
  @include rounded(5px 0 0 0);
  border-left: 1px solid #6F6F6F;
}
th:last-child, th.last {
  @include rounded(0 5px 0 0);
}
th:only-child{
  @include rounded(5px 5px 0 0);
  border-left: 1px solid #6F6F6F;
}
.sortable {
  th {
    a {
      background: url('../img/layout/sort.png') no-repeat right 6px;
      padding-right:30px;
    }
    a.asc {
      background-position: right -74px;
    }
    a.desc {
      background-position:  right -36px;
    }
    a:hover {
      background-position:  right -114px;
    }
  }

}

td {
  height:38px;
  border:1px solid $bc-hover-grey;
  border-top:0;
  border-left:0;
  padding:15px 20px;
}
td.first, td:first-child {
  border-left:1px solid $bc-hover-grey;
}
tr:nth-child(even) td  { background-color:$alt-cell; }
td.actions {
  color:$link-green;
  padding:0 15px;
  a { margin:0 5px; }
}
td.thumb { padding:5px; text-align: center;}
td img {
  max-width: 50px;
  max-height: 50px;
}