@import "base";


/* Core stuff
-------------------------------------------------------------------------------*/

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: white; text-shadow: none;}
::selection {background: #fcd700; color: white; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: black; text-decoration: none;}
mark {background-color: #fcd700; color: black; font-style: italic; font-weight: bold;}


// BASIC LAYOUT

.col { @include float-left; }
#main-header { @include float-left; }
#container { overflow: hidden; }
#content {
  @include box-sizing();
  width:100%;
  padding-left:200px;
  min-width:1009px;
  padding-top:50px; //allow for breadcrumbs
}

// MAIN HEADER (LHS green menu)
$side-menu-width:200px;
#main-header {
  width:$side-menu-width;
  @include radial-grad(#025e2f, #002715, 0%, 80%);
  position:absolute; // IE6
  position:fixed;
  top:0; bottom:0; left:0;
  min-height:561px;

  li {
    list-style: none;
    padding:0;
    a {
      @extend .white-shadow;
      font:$title-font-bold;
      height:40px;
      line-height: 40px;
      border-top: 1px solid $dark-green-hl;
      border-bottom: 1px solid $dark-green-sh;
      padding:0 20px;
      display: block;
      text-decoration: none;
      &:hover {
        @include linear-grad-lr($menu-green-hl, $dark-green);
      }
    }
    &.current {
      a { @include linear-grad-lr($menu-green-hl, $dark-green); }
    }
  }
  .admin-home, .my-account, .logout, .back {
    span {
      display: block;
      background: url(../img/layout/menu.png) no-repeat 0 10px;
      padding-left:30px;
    }
  }
  .my-account span { background-position: 0 -50px;}
  .logout span { background-position: 0 -108px;}
  .back span { background-position: 0 -146px;}
  h1 { // carlsberg logo
    height:140px;
    text-indent: -9999px;
    background: url('../img/layout/group-logo-menu.png') no-repeat 30px 30px;
  }
  .current-user {
    font:$title-font-bold;
    padding:20px 20px 0 20px;
    height:64px;
    line-height: 1.5em;
    border-bottom:1px solid $dark-green-sh;
    color: white;
    font-size: 18px;
  }
}
#main-nav {
  overflow: hidden;
}
#admin-nav {
  position: absolute;
  position: fixed;
  width:$side-menu-width;
  bottom:0;
  @include linear-grad-lr(#015D2E, #01321C);
}
#content-inner {
  width:780px; //fixed width layout
  &.split {
    .col-1 {
      width:459px;
      padding:30px;
      border-right: 1px solid $prod-header-bdr;
    }
    .col-2 {
      padding:30px 0 30px 30px;
      width:230px;
    }
  }
  section {
    clear:both;
    //overflow: hidden;
    padding:30px;
  }
}
// ADMIN
.admin {
  .page-header {
    .inner .col-1 { width: 500px;}
  }
  #content-inner {
    width:750px; //fixed width layout
    padding:30px;
    section {
      padding:0 0 30px 0;
      overflow: hidden;
    }
  }
}

// ====
#content-inner.catalogue {
  width:auto; //fluid layout
}
#sub-header {
  position: absolute; // IE6
  position: fixed;
  top:0;
  left:200px;
  right:0;
}
#breadcrumbs {
  width:100%;
  overflow:hidden;
  background: url(../img/layout/bc-bg-grad.png) repeat-x 0 0;
  border-bottom: 1px solid $bc-border-grey;
  z-index: 3;
  position: relative;
  ul {
    height:49px;
    background: url(../img/layout/bc-bg-grad.png) repeat-x 0 0;
  }
  li {
    padding:0;
    height:49px;
    @include float-left;
    background: url(../img/layout/bc-bg.png) no-repeat right top;
    span {
      @include float-left;
      padding:0 26px 0 14px;
      line-height: 49px;
    }
    a {
      @include float-left;
      height:49px;
      color: $mid-grey;
      text-decoration: none;
      text-shadow: 1px 1px 0 white;
      font:$title-font-light;
      line-height: 49px;
    }
    a:hover {
      color:$bc-hover-grey;
    }
  }
  li.home span {
    background: url(../img/layout/bc-home-bg.png) no-repeat 0 0;
    padding:0 18px 0 20px;
    a {
      background: url(../img/layout/home-icon.png) no-repeat center center;
      text-indent: -9999px;
      width:30px;
    }
  }
}

// HOME PAGE
.home {
  #content-inner {
    background: url('../img/layout/hp-main.jpg') no-repeat left bottom;
    padding-right: 10px;
    padding-bottom: 448px; //height of large glass image
    overflow: hidden;
    .col-1 {
      width:390px;
      padding-bottom: 10px;
      header { padding-bottom: 20px;}
    }
    .col-2 {width:300px; padding-top: 30px;}
  }
}
#hp-links {
  a {
    width:314px;
    height: 82px;
    @include box-sizing();
    padding: 16px 60px 0 120px;
    display: block;
    background: url('../img/layout/hp-btn-sprite.jpg') no-repeat 0 0;
    font:$title-font-bold; font-size: 22px;
    text-decoration: none;
    color:$bc-hover-grey;
    margin-bottom: 15px;
    &:hover { color:$grey-text;}
    &.branded {
      background-position: 0 -95px;
    }
  }
}

//DOWNLOAD LINK
.page-header section.manual {
  h1 { padding-bottom: 12px;}
  p { color: $grey-text;}
  .col-1 {
    background: url('../img/layout/manual-cover.png') no-repeat;
    width: 400px;
    padding-left:170px;
    padding-right:10px;
  }
  .col-2 {
    padding-top:48px;
  }
}
a.download-manual {
  display: block;
  background: url('../img/layout/download-pdf.png') no-repeat 0 0;
  text-decoration: none;
  font:$title-font-light;
  font-size: 12px;
  padding: 10px 0 0 68px;
  text-transform: uppercase;
  color:$bc-hover-grey;
  width:168px - 68px;
  height:75px - 10px;
  span {
    font-size: 11px;
    color:$mid-grey;
  }
}

// PRODUCT LISTINGS

.grey-grad-header {
  border:1px solid $border-grey;
  @include rounded-corner(top-left, 3px);
  @include rounded-corner(top-right, 3px);
  @include box-shadow(inset 0 -1px 0 white);
  @include linear-grad(white, #F2F3F3);
}
.listing {
  header {
    @extend .grey-grad-header;
    //overflow: hidden;
    height:78px;
    padding:0 30px;
    h2 {
      line-height:78px;
      padding: 0;
    }
  }
}
$listing-width: 748px;
$item-width: 186px;
.listing-box {
  border-right:1px solid $border-grey;
  border-bottom:1px solid $border-grey;
  border-left:0;
}
.listing-item-box {
  @extend .listing-box;
  @include float-left;
  width: $item-width;
  list-style: none;
  color:$mid-green-text;
  font-weight: bold;
  padding:18px 0;
  .prod-img, h3, p {
    width:150px;
    margin:0 auto;
  }
  h3 {  height:2.6em; overflow: hidden; }
  p { font-size: 12px; color:$grey-text; font-weight: normal; padding:18px 0; text-transform: uppercase; }
  a.btn-details {
    padding:0;
    @include unfloat;
    margin:0 auto;
    width:150px;
  }
  .prod-img {
    padding-bottom:18px;
  }
}
.listings {
  border-left:1px solid $border-grey;
  overflow:hidden;
  li {
    @extend .listing-item-box;
  }
}
// branded glass listing
.branded-products {
  @extend .listings;
}
// unbranded listing
.unbranded-types {
  @extend .listings;
}
// listing by brands
.brands {
  overflow:hidden;
  li {
    list-style:none;
    .logo, h3, .details {
      @include float-left;
      height:50px;
      border-left:1px solid $border-grey;
      border-bottom:1px solid $border-grey;
    }
    .logo { width:94px; overflow: hidden;}
    .details {
      background: url('../img/layout/brand-details.png') no-repeat 0 0;
      text-indent: -9999px;
      width:59px;
      border-right:1px solid $border-grey;
      &:hover {
        background-position: 0 -51px;
      }
    }
    h3 {
      font:$title-font-light;
      line-height: 50px;
      width:523px;
      padding:0 20px;
      a {
        color:$dark-grey;
        text-decoration: none;;
      }
    }
  }
}

// PRODUCT IMAGES
div.prod-img {
  overflow: hidden;
}
.listing .prod-img {
  width: 150px;
  height:190px;
}



// PRODUCT DETAILS
.header-block {
  background: $prod-header-bg;
  border-bottom: 1px solid $prod-header-bdr;
}
.page-header {
  @extend .header-block;
  .inner {
    padding:30px;
    overflow:hidden;
    .col-1 {
      width:510px;
      padding:0 20px 0 0;
    }
    .manual { width:880px; }
  }
  p { padding:0;}
  dl {
    padding-top:20px;
    font:$title-font-light;
    font-size: 18px;
    dt { @include float-left; padding-right:.6em; color:$grey-text; }
    dd { color:$mid-green-text; padding-bottom: 8px; }
  }
}
// standard product page layout
div.product-view {
  .page-header h1 { padding-top: 20px; }
}

div.product-view {
  .page-header {
    //margin: -30px -30px 0 -30px;
  }
  #content-inner {
    overflow:hidden;
    padding-top:0;
    h2 {
      @extend .sub-heading;
      padding-bottom: 20px;
    }
    .col-1 {
      width:560px;
      padding:0;
      border-right: 1px solid $prod-header-bdr;
      a.submit { display: none; }
      //grey block w/buttons at bottom
      .form-actions {
        @extend .header-block;
        padding:30px 30px 30px 140px;
        a.submit { display: inherit; }
      }
      article {
        padding:30px;
        border-bottom: 1px solid $prod-header-bdr;
      }
      section {
        border-bottom: 1px solid $prod-header-bdr;
      }
    }
    .col-2 {
      width:189px;
      padding:0 0 30px 30px;
      a.btn-details {
        width:auto;
        margin:0;
        padding:0;
        @include unfloat;
      }
      p { padding-bottom:20px; }
      section {
        overflow: hidden;
        padding:30px 0;
        border-bottom: 1px solid $prod-header-bdr;
        &:last-child { border-bottom:0; }
        &.price {
          h2 { color:$grey-text; }
          p { padding:20px 0 0 0; }
          p.price { font: $title-font-bold; font-size: 26px; color:$mid-green-text; padding:0; }
        }
        &.downloads {
          ul { padding-bottom: 5px;}
          li {
            list-style: none;
            padding-bottom: 15px;
            a { @extend .alt-link;}
          }
        }
      }
      section.order-info {
        div.input {
          height:auto;
          padding:0;
        }
        div.submit {
          padding-top: 20px;
        }
      }
      .prod-img {
        margin-top: 30px;
        border: 1px solid $prod-header-bdr;
        height:230px;
      }
    }
    div.options {
      width:330px;
      label { width:80px; }
      padding-bottom: 25px;
    }
    label { color:$grey-text;}
    p {
      color:$grey-text;
      &.options {
        //width:130px;
        padding:10px 0
      }
    }
  }
}

//order confirm page
div.checkout #content-inner .col-1 {
  padding-bottom: 0;;
}

//order item info/spec

ul.item-info {
  font:$title-font-light;
  li {
    padding-bottom: .5em;
    list-style: none;
    color:$mid-green-text;
    span {
      color:$grey-text;
    }
  }
}

//CUSTOM GLASSWARE DETAILS

$custom-input-width: 150px;
$custom-label-width: 180px;
div.custom {
  #content-inner {
    .checkbox label { padding-left:10px;}
    section.options {
      width:auto;
      h2 { @extend .sub-heading; padding-bottom: 15px; }
      label { width:auto; min-width: 180px; max-width:340px;}
      .text input { min-width:$custom-input-width; width:$custom-input-width; }
      .checkbox {
        input { margin-left:$custom-label-width + 10px; }
      }
      select { min-width:$custom-input-width; width:$custom-input-width; }
      padding-bottom: 25px;
    }
    .col-2 {
      .checkbox input { margin:0;}
      div.submit { padding-left: 0;}
    }
  }
}

// FAQ / GENERAL
h2 {
  @extend .sub-heading;
  padding-bottom: 20px;
}
.faqs {
  h2 { padding-top: 20px;}
  h2.first { padding-top: 0;}
  ul {
    padding-bottom: 20px;
    border-bottom:1px solid $border-grey;
    li {
      a {
        text-decoration: none;
        &:hover { text-decoration: underline;}
      }
      padding-bottom: 15px;

    }
  }
}
.faq {
  a.back{ padding-bottom: 20px; display: block;}
}
#support-side {
  h2.phone {
    padding:15px 0 10px 0;
  }
}

//FILE IMPORT

#content-inner.media section {
  @include float-left;
  width:300px;
  padding-right:10px;
  min-height: 120px;
  clear:none;
}

.import-report {
  li {
    font-size: 10px;
  }
  padding:10px;
  background: $prod-header-bg;
  border:1px solid $bc-border-grey;
  margin:10px 0;
  @include rounded();
}


// LOGGED OUT PAGES (GREEN BACKGROUND)

.main {
  background: url('../img/layout/main-bg.jpg') no-repeat center top  $dark-green-body-bg;
  h1 {
    font: $title-font-bold;
    font-size: 26px;
    color:white;
    text-transform: uppercase;
    line-height: 1em;
    padding-bottom: 20px;
  }
  #container {
    width:940px;
    margin:0 auto;
    position: relative;
    min-height: 780px;
  }
  #content {
    width:880px;
    padding: 100px 0 100px 360px;
    min-width: 0;
  }
  #group-logo {
    position: absolute;
    top:100px;
    left:60px;
    width:130px;
    height:73px;
    text-indent: -9999px;
    background: url('../img/layout/group-logo.png') no-repeat;
  }
  #main-footer {
    position: absolute;
    bottom:10px;
    left:50%;
    margin-left:-470px;
    width:940px;
    text-align: center;
    p { color: $large-form-text; }
    a {
      color:white;
      text-decoration: none;
    }
    a:hover { text-decoration: underline;}
  }
  div.confirm {
    padding:20px;
    border:1px solid $large-input-brdr-green;
    background: rgba($dark-green, 0.2);
    h2 {
      font: $title-font-light;
      font-size: 26px;
      color:white;
      text-transform: uppercase;
      padding-bottom: 20px;
    }

  }
  p { color:white; font: $title-font-light;}
  #UserForgotPasswordForm {
    div.input, div.form-actions {
      div.submit { padding:0;}
      @include float-left;
      clear:none;
      padding:0;
      height:auto;
    }
    div.input { padding-right: 20px;;}
  }
}
.alt-bg { background: url('../img/layout/main-bg-2.jpg') no-repeat center top  $dark-green-body-bg;  }

/**** Lightbox ****/

#xsimple-modal-overlay {
  position: absolute;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  z-index: 1000;
  display:none;
  background: #666666 url(../img/layout/trans-bg.png) 50% 50% repeat;
  opacity: .40;
  filter:Alpha(Opacity=40);
}
#xsimple-modal-wrap {
  width:540px;
  top:20px;
  left:50%;
  margin-left:-270px;
  position: absolute;
  z-index: 1001;
  display:none;
}
#xsimple-modal-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background: transparent url('../img/layout/modal_close.png') ;
  cursor: pointer;
  z-index: 1002;
}
#xsimple-modal-outer {
  overflow: hidden;
}
#xsimple-modal-content img {
  max-width: 100%;
  max-height: 100%;
}
a.lightbox { position: relative;}
.lightbox-zoom {
  text-indent: -9999px;
  display: block;
  position: absolute;
  right:10px;
  bottom:10px;
  height:13px;
  width:13px;
  background: url('../img/layout/zoom-lb.png') no-repeat;
}